
<app-loading *ngIf="loading"></app-loading>

<h1>Users List</h1>
<mat-divider></mat-divider>


<form [formGroup]="filtersForm">
    <mat-form-field class="input-search" >
        <mat-label>Search User by name or email</mat-label>
        <input type="text" matInput formControlName="query" placeholder="name or email">
    </mat-form-field>

    <div class="">
        <p>Order By</p>
        <mat-button-toggle-group formControlName="orderBy">
            <mat-button-toggle value="name">name</mat-button-toggle>
            <mat-button-toggle value="email">email</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="">
        <p>Order</p>
        <mat-button-toggle-group formControlName="order">
            <mat-button-toggle value="DESC" matTooltip="sort ASC"  >
                <mat-icon matTooltip="sort desc">arrow_upward_alt</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="ASC"   >
                <mat-icon >arrow_downward_alt</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</form>

<div class="grid-cards" *ngIf="users.length">
    <div class="user-card" *ngFor="let user of users ">
        <app-user [user]="user"></app-user>
    </div>
</div>
<app-error-message *ngIf="!users.length"></app-error-message>


